
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.el-dropdown-link {
  cursor: pointer;
  color: #409EFF;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.mold-buttons {
    margin-bottom: 15px;
}
.select-uf {
  width: 100%;
}
.el-date-editor.date-entrada.el-input.el-input--prefix.el-input--suffix.el-date-editor--date {
    width: 100%;
}
.el-form-item.mold-butons-add-students {
    margin-top: 30px;
}
.btn-mold-default {
    float: right;
}
.btn-notas {
    width: 100%;
}
.slider-notas {
    padding: 0px 30px;
}
.el-form-item.mold-butons-notes button.el-button.el-button--primary.is-round {
    width: 100%;
}
span.center-text {
    text-align: center;
    display: block;
}
